#file-input-label
{
    position: absolute;
    left: 151px;
    bottom:7px;
    width: 11px;
    height: 22px;

    cursor: pointer;

    background-image: url(sprite.png);
    background-position: 0 -287px;
}
#file-input-label:hover
{
    width: 11px;
    height: 22px;

    background-image: url(sprite.png);
    background-position: 0 -353px;
}
#file-input-label:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
}
#file-input-label:after:focus
{
    outline: none;
}
#file-input-label:focus
{
    outline: none;
}
#file-input-label #file-input-input
{
    width: 0;
    height: 0;
}
        #file-input-label #file-input-input:focus
{
    outline: none;
}
.user-photo-container{
    background: white;
    padding: 12px 12px 40px 12px;
    border-radius: 8px;
    height: 400px;
    position:relative;
    margin: 10px 0 0 20px;
}
.user-photo{
    width: 300px;
    height: 400px;
    display: flex;
}
.user-photo img{
    width: 100%;
    height: 100%;
}
.user-name-container{
    width: 97%;
    margin: 1%;
}
.user-name-input{
    background: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 250%;
    width: 100%;
    border-width: 0;
}
.user-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.user-inform-container{
    background: white;
    width: calc(100% - 410px);
    height: auto;
    padding: 12px 12px 12px 0px;
    border-radius: 8px;
    position:relative;
    margin: 10px 0 0 10px;
}
.towar-list{
    margin: 0;
    padding: 10px
}
.user-inform-name{
    font-size: 150%;
    padding: 5px 5px 5px 10px;
}
.tovar-item{
    background-color: #c7c7c7;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
}
