{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="user-container">
    <div class="user-name-container">
        <input type="text" class="user-name-input" value="{{firstname}} {{ lastname }}">
    </div>
    <div class="user-photo-container">
    <div class="user-photo">

    <img src= "{{myurl}}"/>
       </div>
<form method="post" action="{% url 'userprofile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
    <button type="submit">Upload</button>
  </form>
    </div>
    <div class="user-inform-container">
        <h2 class="user-inform-name">Список покупок:</h2>
        <ul class="towar-list">
            {% for towar in towarlist %}
             <li class="tovar-item">
                {{ towar.date }} - {{ towar.product }}
             </li>
            {% endfor %}
        </ul>
    </div>
    <div class="user-tovar-container">

    </div>
    </div>
{% endblock %}